.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    display: inline-block;
    margin-top: 200px;
    padding: 20px;
    background-color: lightcyan;
    border-radius: 25px;
}