.navbar {
  height: 100px;
  background-color: lightcyan
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 60px;

  border-radius: 10px; /* or 50% */

  background-color: black;
  color: lightcyan;
  text-align: center;
  font-size: 2em;
}

.logo .pb {
    color: darkcyan;
}

.nav-btn {
  background-color: black;
  color: lightcyan;
}

.nav-btn a {
  color: lightcyan;
}
