.home-container {
    padding: 20px;
    height: 100%;
}

.home-logo {
    display: inline-block;
    width: 250px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 60px;
  
    border-radius: 10px; /* or 50% */
  
    background-color: black;
    color: lightcyan;
    text-align: center;
    font-size: 2em;
  }
  
  .home-logo .pb {
      color: darkcyan;
  }